---
import ExternalIcon from "@assets/icons/external.svg";
import Card from "./card.astro";
interface Props {
	link?: string;
	icon?: string;
	title?: string;
	description?: string;
}
const { link, icon, title, description = "" } = Astro.props as Props;
---

<Card
	href={link}
	disabled={!title}
	aria-hidden={!title}
	aria-label={title ? `A link to “${title}”` : "Grid item"}
	draggable={false}
	padding="0.5rem"
	className="grid-item"
	hoverable
>
	<div class="heading">
		{icon && <img aria-hidden width={24} height={24} src={icon} />}
		<span class="grid-title">{title ?? "n/a"}</span>
		<ExternalIcon aria-hidden />
	</div>
	{description}
</Card>
<style>
	.grid-item {
		min-height: 4.5rem;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		transition: all 0.25s cubic-bezier(0.17, 0.85, 0.29, 0.95);
		user-select: none;
	}

	.grid-item:hover:active .heading {
		scale: 0.99;
	}
	.grid-item * {
		font-size: 1rem;
	}
	.grid-item .heading {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
	.grid-item .heading .grid-title {
		flex: 1;
		color: var(--text);
		font-weight: 450;
		transition: scale 0.5s;
	}
	.grid-item .heading img {
		border-radius: 9999px;
		width: 1.5rem;
		height: 1.5rem;
	}
	.grid-item svg {
		fill: var(--text-secondary);
	}
</style>
